{% extends "base.html" %}

{% block content %}

<h2>
  {{ node.name }}
</h2>
<ul>
  <li>{{ node.scientific_name }} </li>
  <li>{{ node.category }}</li>
  <li>{{ node.coordinates }}</li>
  <li>{{ node.surface }}</li>
  <li>{{ node.colour }}</li>
  <li>{{ node.pile }}</li>
  <li>{{ node.aroma }}</li>
  <li>{{ node.season }}</li>
  <li>{{ node.location }}</li>
  <li>{{ node.warning }}</li>
</ul>

<p>
  {{ node.description|linebreaksbr }}
</p>

  {% for comment in node.comment_set.all %}
  <ul>
    <li>
      ({{ comment.vote }})
      {{ comment.body }}
      <small>
        {{ comment.user.username }}
      </small>
    </li>
  </ul>
  {% endfor %}

<p>
  <a href=" {% url "new_comment" node.id %}">yorum ekle.</a>
</p>

{% endblock %}
